.contact-input-div {
    margin-bottom: 10px;
  }

.warning {
  border: solid red 1px;
}

.danger {
  font-size: 10px;
  color: red;
  margin-left: 10em;
}

.container{
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente para el formulario */
  padding: 20px;
  border-radius: 10px; /* Borde redondeado */
  margin: 0;
   padding: 0;
   background-color: #000; /* Fondo negro */
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}

.inputs {
    margin-top: 10px;
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    border-radius: 20px;
  }

.words {
  color: white;
}

.submit {
 margin-top: 10px;
 align-items: center;
}