.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards {
    width: 0 0 calc(33.33% - 10px);
    margin-bottom: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.selector-container {
    margin-bottom: 20px;
  }