.search-container{
    display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px; /* Aquí aplicamos un borde circular */
  padding: 5px;
}

.search-input{
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    border-radius: 20px
}

.search-button {
    background-color: rgba(38, 19, 19, 0.632);
    color: white;
    border: none;
    border-radius: 20px; /* Borde circular para el botón */
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
  }

